@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */

/* width.69 */
/* 634 height */

/* div 705/706 */

* {
    margin: 0;
    padding: 0;
}

.btn {
    padding: 17px 21px 17px 21px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
}

.btn-container {
    text-align: center;
}


#hero {
    height: 634px;
    background-image: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    width: 705px;
}

#hero .hero-content .subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 13px;
}

#hero .hero-content .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 17px;
}

#hero .hero-content .description {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 35px;
}

/* 910 */

#card-box {
    width: 911px;
    margin: 100px auto;
}

/* #card-box .info {
    
} */

#card-box .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}

#card-box .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}

.card-container {
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Work Sans;
}

.card {
    max-width: 292px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card .image-box {
    width: 250px;
}

.card .image-box img {
    width: 100%;
}

.card .shop {
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 12px 18px 12px 18px;
}

#about-us {
    width: 100%;
    max-width: 1325px;
    margin: 100px auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
}

#about-us .article .img-food{
    width: 50%;
    max-width: 636.97px;
}


#about-us .img-food img {
    width: 100%;
}

#about-us .title {
    color: rgb(16, 16, 16);
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}

#about-us .subtitle {
    color: rgb(16, 16, 16);
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    padding-top: 20px;
    padding-bottom: 27px;

}

#about-us .social-title {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
}

#about-us .social-title .follow {
    color: rgb(16, 16, 16);
    font-family: 'Work Sans', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    padding: 20px;
    opacity: 0.7;
}

#about-us .social ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
}

#about-us .social ul li {
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#about-us .social ul li :hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* =================SOCIAL-CARD================= */

#social{
    height: 463px;
    background-image: linear-gradient(rgb(255, 255, 255) -19.5%, rgba(255, 255, 255, 0.822) 100%), url("../assets/social-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#social .social-container{
    width: 1325px;
}

#social .social-title{
    box-sizing: border-box;
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    border-top: 1px solid rgba(16, 16, 16, 0.2);
}

#social .title{
    color: rgb(16, 16, 16);
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}

#social .subtitle{
    color: rgb(16, 16, 16);
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    padding-top: 20px;
    padding-bottom: 27px;
}

#social .follow {
    color: rgb(16, 16, 16);
    font-family: 'Work Sans', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    padding: 20px;
    opacity: 0.7;
}

#social ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
}

/* Media queries for responsive design */
@media (max-width: 1200px){
    #hero .hero-content,
    #card-box,
    #about-us,
    #social .social-container{
        max-width: 100%;
    }

    .card{
        max-width: 45%;
    }
}

@media(max-width:768px){
    #hero{
        height: auto;
        padding: 20px;
    }

    #hero .hero-content{
        width:90%;
    }

    .card{
        max-width: 90%;
    }

    #about-us{
        flex-direction: column;
    }

    #about-us .article,
    #about-us .img-food{
        width: 100%;
        max-width: 100%;
    }

    .card-container{
        flex-direction:column;
        align-items:center;
    }
}

@media (max-width: 480px){
    .btn{
        padding: 12px 16px;
        font-size: 14px;
    }

    #hero .hero-content .subtitle,
    #hero .hero-content .title,
    #hero .hero-content .description{
        font-size: smaller;
    }

    #card-box .title{
        font-size: 24px;
    }

    #card-box .subtitle{
        font-size: 12px;
    }

    #social .title{
        font-size: 24px;
    }

    #social .subtitle{
        font-size: 12px;
    }

    #social .follow{
        font-size: 18px;
    }

    #about-us .title{
        font-size: 24px;
    }

    #about-us .subtitle{
        font-size: 12px;
    }

    #about-us .social-title .follow{
        font-size: 18px;
    }
}
